@import colors
@import typography

#edit-submit
  color: $color-primary
  font-family: $title-font
  text-transform: uppercase
  font-style: italic
  border: none
  background: none
  font-weight: bold
  font-size: 1.5rem

  &:hover
    color: $color-secondary
