@import ../lib/colors
@import ../lib/media

#about
  margin: 0 auto
  padding: 2rem 0

  section
    padding: 0 2rem
    flex-direction: row
    @media all and (min-width: $max-sm)
      display: flex

    h2
      align-self: center
      text-align: right
      transform: translate3d(-2%, -8%, 0)
      transition: transform 1s
      padding: 5px
      text-shadow: 1px 1px 120px rgba(255, 255, 255, 0.8)
      @media all and (min-width: $max-sm)
        transform: translate3d(-28%, -120%, 0)
        width: 50%
        &.about-title-scrolled
          transform: translate3d(-28%, -8%, 0)

    & > p
      font-size: 1.2rem
      @media all and (min-width: $max-sm)
        width: 50%

  #more-info
    z-index: 10
    position: relative
    transition: 2.2s transform
    border: 0.6rem solid $color-secondary
    text-align: center
    border-radius: 50%
    width: 7rem
    height: 7rem
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    align-self: center
    margin: 3rem auto
    text-transform: uppercase
    padding: 1rem
    @media all and (max-width: $max-sm)
      transform: translate(0px, 0px) !important
    &:hover
      background-color: $color-secondary
      a
        color: white

    a
      color: $color-secondary
      font-size: 1.8rem
      text-decoration: none
      font-weight: bold
      font-style: italic

#contact
  padding: 4rem
  text-align: right
  display: flex
  p
    color: $color-dark

  .wrapper
    position: relative
    padding-right: 3px
    min-width: 50%
    padding-top: 8rem
    @media all and (min-width: $max-sm)
      transform: translate3d(-28%, 0, 0)

    &::before
      content: ''
      position: absolute
      background-image: url('../img/vela-bikes-skyline-SP.png')
      background-repeat: no-repeat
      background-position-x: right
      background-size: contain
      z-index: -1
      top: 0
      right: -7rem
      bottom: 0
      width: 420px
