@import ../lib/colors
@import ../lib/typography
@import ../lib/media

*:focus
  outline: none

body
  font-family: $title-font
  color: $color-dark
  margin: 0
  font-weight: 200
  font-size: 16px
  padding-top: 50px

h1, h2, h3, h4, h5, h6
  color: $color-secondary
  font-style: italic
  text-transform: uppercase

p
  font-weight: lighter

a
  color: $color-primary
  text-decoration: none
  font-weight: lighter

  &:hover
    color: $color-secondary

img
  max-width: 100%
  height: auto

table
  width: 100%
  th:last-child, td:last-child
    text-align: right

iframe
  width: 100%
  border: 1px solid $color-primary

input.form-submit,
button.form-submit
  font-family: $title-font
  font-weight: bold
  font-style: italic
  color: $color-primary
  border: none
  background: transparent
  font-size: 1.5rem
  text-transform: uppercase
  cursor: pointer
  &:hover
    color: $color-secondary

select
  height: 35px

fieldset
  border: none
  padding: 0
  .fieldset-legend
    font-weight: bold
    font-style: italic

.message > div
  padding: 1rem 2rem
  border-radius: 1px
  background-color: $color-tertiary
  margin-bottom: 25px
  text-align: center
  font-size: 1.1em
  a
    font-weight: bold
  ul
    padding: 0
    margin: 0
    list-style: none
  &[aria-label*="Error"]
    background-color: $color-secondary
    color: white

#block-vela-local-tasks
  position: fixed
  bottom: 0
  left: 50%
  transform: translateX(-50%)
  z-index: 1000
  background-color: rgba(0, 0, 0, 0.66)
  padding: 10px
  a
    color: white
    font-weight: bold
    padding: 0 5px
  a.is-active
    display: none
  a[data-drupal-link-system-path$=edit]
    font-size: 0
    &:before
      content: '\e806'
      font-family: fontello
      font-size: 28px

.ajax-progress-throbber
  position: absolute
  .message
    display: none
  .throbber
    background: none
    animation: rotate 0.8s infinite linear
    border: 3px solid $color-primary
    border-radius: 50%
    border-right-color: transparent
    width: 20px
    height: 20px
    display: block
    padding: 0

@media screen and (max-width: 480px)
  .desktop-only
    display: none
@media screen and (min-width: 480px)
  .mobile-only
    display: none

@keyframes rotate
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)
