@import ../lib/colors

.cart-form

  form > table
    margin-bottom: 20px
    th, td
      text-align: center
    th:first-child, td:first-child
      text-align: left
    th:last-child, td:last-child
      text-align: right
    th.views-field-remove-button
      width: 60px
  
  .delete-order-item
    font-size: 1em
    color: $color-secondary
    border: none
    background: none
    cursor: pointer
    
  input.form-number
    width: 25px
    border-radius: 25px
    height: 25px
    font-size: 12px
    text-align: center
    padding: 0
    border: 1px solid $color-primary
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0
    
  .commerce-order-total-summary,
  .form-actions
    margin: 1em 0 0 auto
    max-width: 240px
    
    .order-total-line
      padding-right: 0
      
    .order-total-line__total
      border-top: 1px solid $color-light
      margin-top: 5px
    
  .form-actions
    text-align: right
    input
      clear: both
      float: right
    #edit-submit
      font-size: 1em



.cart-empty-page
  font-size: 1.5em
  text-align: center
  min-height: 200px
  display: flex
  justify-content: center
  align-items: center