@import ../lib/colors
@import ../lib/media

// Basic checkout style
.checkout-progress
  display: none
#commerce-checkout-flow-multistep-default
  position: relative
  padding-bottom: 20px
  fieldset
    margin-bottom: 1rem
  fieldset legend
    margin-bottom: 1rem
  fieldset fieldset legend
    display: none
  iframe
    min-height: 600px
  #edit-actions-next
    color: $color-secondary
    position: absolute
    right: 0
  #edit-actions a
    color: $color-secondary
    font-size: 1.5em
    font-style: italic
    text-transform: uppercase
    font-weight: bold

// Sidebar
.layout-region-checkout-secondary
  h3
    margin-top: 0
  transition: .5s transform 0.2s
  @media screen and (max-width: 780px)
    transform: none !important

#edit-sidebar-order-summary
  table
    margin-bottom: 8px
  .order-total-line
    padding-left: 0
    padding-right: 0
  .order-total-line-label
    width: 50%
  .order-total-line__total
    border-top: 1px solid $color-light
    margin-top: 8px

#sidebar-coupon_redemption-form-ajax-wrapper
  position: relative
  margin-top: 20px
  .form-item
    display: flex
  label
    white-space: nowrap
    align-self: center
    margin-right: 1em
  [id^=edit-sidebar-coupon-redemption-form-apply]
    position: absolute
    right: 3px
    bottom: 7px
    font-size: 15px

// Shipping information
.checkout-pane-shipping-information
  position: relative
  .field--type-address > div > div > div
    display: flex
    flex-wrap: wrap
    &>div
      width: 100%
    @media all and (min-width: 660px)
      div[data-drupal-selector*=address-container5]
        width: 210px
        flex-grow: 1
      div[class*=postal-code]
        width: 90px
        margin-left: 20px
        min-width: 20%

  #edit-shipping-information-recalculate-shipping,
  input[id^=edit-shipping-information-recalculate-shipping]
    display: none

// Payment Information
.checkout-pane-payment-information
  fieldset
    margin-bottom: 1rem !important
  label[for^=edit-payment-information-payment-method-new-credit-card-stone]::after,
  label[for^=edit-payment-information-payment-method-stone-boleto-]::after
    content: "\f1f0 \ \f1f1"
    font-family: "fontello"
    margin-left: 10px
    position: relative
    bottom: -1px
    font-size: 20px
  label[for^=edit-payment-information-payment-method-stone-boleto-]::after
    content: "\e80d"
    bottom: -2px
  .sync-wrapper
    display: block
    width: 100%
    margin-bottom: 1rem

//Profile form
.checkout-pane-shipping-information > .fieldset-wrapper > .form-wrapper,
.checkout-pane-payment-information > .fieldset-wrapper > .form-wrapper,
.checkout-pane-payment-information [data-drupal-selector=edit-payment-information-add-payment-method-billing-information]
  display: flex
  flex-wrap: wrap
  .field--type-cpf,
  .field--type-telephone
    width: 50%
  .field--type-cpf
    width: calc(50% - 1em)
    margin-right: 1em
  .field--type-address
    width: 100%

//Credit Card Form
.credit-card-form
  display: flex
  flex-flow: row wrap
  .form-item-payment-information-add-payment-method-payment-details-number,
  .form-item-payment-information-add-payment-method-payment-details-installment-count
    flex-basis: 100%
  .credit-card-form__expiration
    margin-right: 20px
    .js-form-type-select
      width: 55px
  .form-item-payment-information-add-payment-method-payment-details-security-code
    flex-grow: 1
    flex-basis: 50px
  @media all and (min-width: 720px)
    .form-item-payment-information-add-payment-method-payment-details-security-code
      margin-right: 20px
    .form-item-payment-information-add-payment-method-payment-details-installment-count
      flex-basis: 120px
      flex-grow: 1
  @media all and (min-width: 1060px)
    .form-item-payment-information-add-payment-method-payment-details-number
      flex-basis: 170px
      flex-grow: 2
      margin-right: 20px
