@import ../lib/colors
@import ../lib/typography

// Address
div[class$=address-organization],
div[class$=address-dependent-locality]
  display: none

div.address-container-inline
  display: flex
  width: 100%
  & > .form-item
    width: 50%
    margin: 0
    &:first-child
      width: calc(50% - 1em)
      margin-right: 1em

select,
input.form-text,
input.form-email,
input.form-tel
  font-family: $title-font
  border-radius: 6px
  border: 1px solid #dfdfdf
  padding: 4px 8px
  font-size: 1em
  margin: 5px 0
  color: #6f6f6f
  background: white
  box-sizing: border-box
  width: 100%
  font-weight: 300
  &.error
    border-color: $color-secondary !important
  &:focus
    outline-color: transparent
    outline-style: none
    border-color: #57786d

input[type=checkbox]
  height: 18px
  margin-right: 5px
  margin-left: 3px
