@import ../lib/colors
@import ../lib/typography

.toolbar-fixed #vela-main-header
  top: 36px

#vela-main-header
  background-color: $color-tertiary
  padding: 1rem 0
  position: fixed
  top: 0
  right: 0
  left: 0
  z-index: 501
  max-width: 100vw

  ul
    margin: 0
    list-style: none
    padding: 0

  a
    color: $color-primary
    font-family: $title-font
    text-decoration: none
    text-transform: uppercase
    font-style: italic
    font-weight: bold
    &:hover
      color: $color-secondary

  & > .layout-container
    display: flex

  img
    height: 20px

  #vela-main-menu
    width: 100%
    &>li
      text-align: center
      li
        display: inline-block
      svg, object, img
        height: 60px
        width: 60px
        pointer-events: none
        overflow: hidden
        svg
          fill: $color-primary  // for object

#vela-brand
  margin-bottom: -71px
  display: block
  position: relative
  z-index: 1
  path
    fill: #57786d
    transition: 1s transform
    transform-origin: center center
  &:hover path
    fill: $color-secondary
  &:hover
    #Fill-3, #Fill-5, #Fill-7
      transform: rotateY(360deg)
      transition: 1s transform 4s
    #Fill-1
      transform: rotateY(900deg)
      transition: 1s transform 4s


//Desktop
@media screen and (min-width: 720px)
  #vela-main-header
    #vela-main-menu
      display: flex
      justify-content: space-between
      &>li svg, object, img
        height: 90px !important
        width: 90px !important
      .mobile-menu-toggle
        display: none

//mobile
@media screen and (max-width: 720px)
  #vela-main-header
    height: 18px
    .layout-container
      width: auto
      padding: 0
    #vela-main-menu
      .mobile-menu-item
        padding: 1em 20px
        display: none
      #vela-brand,
      #social-networks,
      .mobile-menu-toggle
        cursor: pointer
        position: fixed
        top: 12px
      #vela-brand
        left: 50%
        transform: translateX(-50%)
      #social-networks
        left: 20px
      .mobile-menu-toggle
        right: 20px
        font-weight: bold
        padding-right: 1px
    #vela-main-menu.open
      background: $color-tertiary
      margin-top: 30px
      padding: 30px 0 10px
      .mobile-menu-item
        padding: 1em 20px
        display: block
