@import ../lib/colors
@import ../lib/media

#vela-homepage-video
  width: 100%
  object-fit: cover
  height: auto


#block-views-block-home-slider-block-1
  position: relative
  img
    width: 100% !important
    height: auto !important
  .views_slideshow_controls_text
    .views_slideshow_controls_text_pause
      display: none
    .views_slideshow_controls_text_previous a,
    .views_slideshow_controls_text_next a
      position: absolute
      top: 49.8%
      z-index: 9
      font-size: 0
      &:before
        font-family: "fontello"
        font-size: 28px
    .views_slideshow_controls_text_previous a
      left: 20px
      &:before
        content: '\e802'
    .views_slideshow_controls_text_next a
      right: 20px
      &:before
        content: '\e803'

.path-frontpage
  p
    color: $color-primary
  .frontpage-view,
  #block-vela-page-title,
  #block-vela-content
    display: none
  @media all and (max-width: $max-sm)
    .layout-container
      overflow: hidden
