@import ../lib/colors
@import ../lib/typography
@import ../lib/media

body
  padding-top: 50px
  &.toolbar-vertical.toolbar-fixed
    padding-top: 93px !important

main.page-content
  margin-top: 2em
  @media all and (min-width: $max-sm)
    margin-top: 5em

.layout-container
  padding: 0 20px
  max-width: 1280px
  margin: 0 auto
  width: 82%
  @media all and (max-width: $max-sm)
    padding: 0 10px
    box-sizing: border-box
    width: 100%

.modal
  background: white
  position: fixed
  top: 50px
  bottom: 0
  left: 0
  right: 0
  z-index: 500
  padding: 40px 0
  .wrapper
    position: relative

.user-logged-in .modal
  top: 88px
