@import ../lib/colors
@import ../lib/media

.path-frontpage page-content
  padding-top: 0

.find-us h2
  padding-left: calc(15% - 20px)

.partners-map
  width: 50%
  height: auto
  margin: 0 auto
  display: block

  @media all and (max-width: $max-sm)
    width: 80%

  polyline, path
    stroke: $gray-light
    stroke-width: 1


    &.filled
      stroke: white
      fill: $gray-light
      cursor: pointer

      &:hover, &.map-active
        fill: $color-secondary

    @media all and (max-width: $max-sm)
      stroke-width: 2

#views-exposed-form-partners-block-1
  fieldset
    display: none

.partners-block-content
  max-width: 780px
  margin: 20px auto
  p
    margin-top: 0

  .views-row
    display: none
    width: 32.9%
    vertical-align: top
    padding-right: 1rem
    box-sizing: border-box
    margin-bottom: 1em

    &:last-child
      padding-right: 0

    @media all and (max-width: 620px)
      width: 49.6%

    @media all and (max-width: $max-sm)
      width: 100%

  .views-field-title
    color: $gray
    margin: 0
    font-style: italic
    font-weight: 700

  .views-field-body
    font-size: 0.9rem
