@import ../lib/colors
@import ../lib/media
@import ../lib/typography

.path-product
  #block-vela-page-title
    display: none

  #block-vela-content
    > article
      position: relative

      @media all and (min-width: $max-sm)
        .sidebar
          float: left
          margin: 0 4% 40px 0
          width: 48%

      .field_product_images
        margin-bottom: 40px

      @media all and (min-width: $max-sm)
        .info
          float: right
          width: 48%

      .field_description
        clear: both
        padding-top: 20px
        &>div:first-child
          display: none

        table
          th
            background-color: #707070
            color: #fff
            padding: 15px
            font-size: 16px
            font-weight: 200
            text-transform: uppercase
            text-align: left
          td
            font-size: 0.8em
            text-align: left
            padding: 15px

      .field_videos
        .video-embed-field-responsive-video
          margin-bottom: 40px

  .title
    color: $color-secondary
    font-size: 1.5rem
    font-weight: 900
    font-style: italic
    text-transform: uppercase
    margin-right: 120px

  [class*=product--variation-field--variation_price]
    color: $color-primary
    font-size: 1rem
    font-weight: normal
    font-style: italic

  .info .variations
    max-width: 400px
    margin-top: 1.5rem
    label.form-required
      font-weight: bold
      font-style: italic
  .info [id*=edit-purchased-entity-0-attributes-attribute-color]
    label > div
      padding: 5px
    .color_field__swatch--circle
      margin: 0 auto


  .info .body
    margin-top: 2em
    max-width: 400px

  .commerce-order-item-add-to-cart-form button.form-submit,
  button.round,
  button.add-to-cart
    position: absolute
    top: -25px
    right: -2px
    border: 0.2rem solid $color-primary
    color: $color-primary
    width: 6rem
    height: 6rem
    border-radius: 50%
    font-size: 1rem
    cursor: pointer
    background-color: white
    &:hover
      border-color: $color-secondary
      background-color: $color-secondary
      color: white

  .builder
    &.hidden
      display: none
    &>.wrapper, .builder-wrapper
      display: flex
      flex: 1
      height: 100%
      flex-direction: column
      align-items: stretch
      justify-content: center
    .builder-wrapper
      padding-bottom: 40px
      &>div:first-child
        flex: 1
        position: relative
        img
          position: absolute
          top: 0
          left: 50%
          bottom: 0
          right: 0px
          transform: translateX(-50%)
          max-height: 100%
          width: auto

    fieldset legend
      font-size: 2em
      color: $color-secondary
      margin-bottom: 10px

    .product--rendered-attribute .form-item
      .product--rendered-attribute__selected ~ label.option
        border: none
        background-color: $color-tertiary
        border-bottom: 2px solid $color-primary
        pointer-events: none
        cursor: default
      label.option
        cursor: pointer
      .field_color, .name
        float: left
        padding: 5px
        line-height: 20px

    .modal-back
      position: absolute
      left: 0
      bottom: 0

    .ajax-progress
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      background: rgba(255,255,255,0.5)
      & > div
        display: none

    .attribute-widgets
      text-align: center

    &[build-step="measurement"]
      background: white
      .attribute-widgets,
      .field_photo,
      button.add-to-cart
        display: none
      @media all and (max-width: $max-sm)
        padding: 20px 20px 20px
        #commerce-product-add-to-cart-form
          padding-top: 110px
        .measurement-help
          position: absolute
          top: 0px
          left: 0px
          right: 0px
          .body, .title
            font-size: 16px
      @media all and (min-width: $max-sm)
        background: url('../img/measurement.png') white no-repeat center center
        .js-form-type-textfield
          width: 155px
          position: absolute
          top: 50%
          left: 50%
        .measurement-help
          position: absolute
          top: 0
          left: 0
          width: 300px
        div[class*=form-item-field-leg]
          margin-top: 55px
          margin-left: 73px
        div[class*=form-item-field-arm]
          margin-top: -165px
          margin-left: 155px
        div[class*=form-item-field-height]
          margin-left: -230px
          margin-top: -20px

    &[build-step="color"]
      div[class*=form-item-field-leg],
      div[class*=form-item-field-arm],
      div[class*=form-item-field-height],
      button.add-to-cart,
      .measurement-help,
      fieldset[data-drupal-selector*=bike-extras]
        display: none

    &[build-step="model"]
      div[class*=form-item-field-leg],
      div[class*=form-item-field-arm],
      div[class*=form-item-field-height],
      button.modal-next,
      .measurement-help,
      fieldset[data-drupal-selector*=color]
        display: none

#cboxOverlay
  opacity: 1 !important
  background-color: white

#cboxTitle, #cboxCurrent
  display: none !important

#cboxContent
  position: relative
  overflow: visible

#cboxPrevious, #cboxNext, #cboxClose
  background: none
  width: 25px
  height: 25px
  font-size: 0
  text-indent: 0
  &::before
    font-family: "fontello"
    font-size: 18px
    color: $color-primary

#cboxClose
  position: absolute
  top: 0
  left: 0
  &::before
    content: '\e80a'

#cboxPrevious, #cboxNext
  position: absolute
  top: 50%
  z-index: 1
  &::before
    content: '\e803'


#cboxPrevious
  left: auto
  right: 100%
  &::before
    content: '\e802'

#cboxNext
  left: 100%

#cboxMiddleLeft, #cboxMiddleRight
  width: 25px

#more-images
  color: $color-dark
  font-style: italic
  font-weight: bold
  font-size: 1.2rem
  display: block
  text-align: center
  text-transform: uppercase
  opacity: 0.8

  &:hover
    color: $color-secondary

.measurement-help
  .title
    color: $gray
    font-size: 1rem

  .body
    color: $color-primary
    font-size: 1.2rem
    font-weight: bold
    font-style: italic

.field--name-field-arm,
.field--name-field-height,
.field--name-field-leg
  label
    font-weight: bold
    font-style: italic

  .description
    color: $gray
    font-style: italic
    font-size: 0.8rem
