@import ../lib/colors


// Banner
#block-views-block-store-banner-block-block-1
  .views-field-field-image
    display: none
    @media all and (min-width: 480px)
      display: block
    @media all and (min-width: 699px)
      padding-left: 120px
  .views-field-field-mobile-image
    @media all and (min-width: 480px)
      display: none

// Product list
.products-list
  &>.views-row
    box-sizing: border-box
    margin: 1rem 0
    padding: 0 1rem

  .views-field-title
    text-transform: uppercase
    font-size: 0.9em
    transition: all 600ms
    a
      color: $color-secondary
      font-weight: bold

  .views-field-price__number
    color: $color-primary
    transition: all 600ms
    font-size: 0.8em
    font-weight: normal

  @media all and (min-width: 699px)
    &>.views-row
      width: 49%

  @media all and (min-width: 960px)
    &>.views-row
      width: 33%

// Desktop only
@media all and (min-width: 699px)
  #block-views-block-product-categories-block-1
    width: 120px
    position: fixed
    top: 200px
    z-index: 1
    font-size: 15px
    font-weight: bold

  .products-list
    padding-left: 120px
    &>.views-row
      display: inline-block
      .views-field-title,
      .views-field-price__number
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
      .views-field-price__number
        opacity: 0
      &:hover
        .views-field-price__number
          opacity: 1
      //.views-field-field-product-images
        //height: 0
        //padding-top: 100%
        //position: relative
        //a
        //  position: absolute
        //  top: 50%
        //  transform: translateY(-50%)

// Mobile only
@media all and (max-width: 699px)
  #block-views-block-store-banner-block-block-1
    margin-left: -40px
    transform: translateX(20px)
  #block-views-block-product-categories-block-1
    text-align: center
    margin-top: 30px
    .views-row
      display: inline-block
      background: $color-tertiary
      padding: 4px 6px
      margin: 4px
