<div class="layout-container">
  <div id="contact">
    <div class="wrapper">
      <h2>
        {{ home_address_title|raw }}
      </h2>
      <p>
        {{ home_address|raw }}
      </p>
    </div>
  </div>
</div>
