{#
/**
 * @file
 * Template for the boleto notification.
 *
 * Available variables:
 * - order_entity: The order entity.
 *
 * @ingroup themeable
 */
#}
<table style="margin: 15px auto 0 auto; max-width: 768px; font-family: arial,sans-serif">
  <tbody>
  <tr>
    <td>
      <table style="margin-left: auto; margin-right: auto; max-width: 768px; text-align: center;">
        <tbody>
        <tr>
          <td>
            <a href="{{ url('<front>') }}" style="margin: 15px 0px;"><img style="max-width: 150px;" src="https://velabikes.com.br/themes/contrib/velatheme/img/logo.png" /></a>
          </td>
        </tr>
        </tbody>
      </table>
      <table style="text-align: center; min-width: 450px; margin: 5px auto 0 auto; border: 1px solid #faf6ed; border-radius: 5px; padding: 40px 30px 30px 30px; background-color: #faf6ed;">
        <tbody>
        <tr>
          <td style="font-size: 30px; padding-bottom: 30px">{{ 'Pedido Feito - Aguardando Confirmação'|t }}</td>
        </tr>
        <tr>
          <td style="font-weight: bold; text-align: center; padding-top:15px; padding-bottom: 15px; border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc">
            {{ 'Order #@number was received, '|t({'@number': order_entity.id}) }}
            <a href="{{ boleto_url }}" style="color: #57786d; text-decoration: none">
              {{ 'click here to see your boleto.'|t }}
            </a>
          </td>
        </tr>
        <tr>
          <td style="padding: 10px">
            {% block additional_information %}
              {{ 'You will receive a confirmation as soon your payment is processed.'|t }}
            {% endblock %}
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
