{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
<article{{ attributes.addClass('product-default') }}>
  <div class="sidebar">
    {{- product.field_product_images -}}
    {{- product.field_videos -}}
  </div>
  <div class="info">
    {{- product.title -}}
    {{- product.variation_price -}}
    {{ product.variations }}
    {{- product.body -}}
    {{- product.field_downloads -}}
  </div>
</article>
