{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}

<article{{ attributes.addClass('product-bikes') }}>
  <div class="sidebar">
    {{- product.field_product_images -}}
    {{- product.field_videos -}}
  </div>
  <div class="info">
    {{- product.title -}}
    {{- product.variation_price -}}
    <button class="add-to-cart form-submit modal-toggle">{{ 'Build Yours'|trans }}</button>
    {{- product.body -}}
    {{- product.field_downloads -}}
  </div>
  {{- product.field_description -}}
  <div class="builder modal hidden">
    <div class="wrapper layout-container">
      <div class="builder-wrapper">
        {{ product.variation_field_photo }}
        {{ product.variations }}
      </div>
      <div class="measurement-help">
        <div class="title">{{ "FILL OUT WITH YOUR MEASUREMENTS"|trans }}</div>
        <div class="body">{{ "THE VELA CAN FEEL LIKE AN EXTENSION OF YOUR BODY, THIS IS WHY HUMAN AND BIKE MUST BE PERFECTLY ALIGNED."|trans }}</div>
      </div>
      <button class="modal-back form-submit">{{ "Back"|trans }}</button>
      <button class="round modal-next form-submit">{{ "Next"|trans }}</button>
    </div>
  </div>
</article>
