<div style="overflow: hidden">
  <video id="vela-homepage-video" style="margin: 0;" loop="" autoplay="" width=1920 height=780>
    <source src="{{ base_path ~ directory }}/img/intro.mp4" type="video/mp4">
  </video>
</div>

<div class="layout-container">
  <div id="about">
    <section>
      <h2>
        {{ home_title|raw }}
      </h2>
      <p>{{ home_about_right|raw }}</p>
    </section>
    <section>
      <p>{{ home_about_left|raw }}</p>
      <p>
        <span id="more-info">
          <a href="/loja">{{ home_action_label }}</a>
        </span>
      </p>
    </section>
  </div>
</div>
