<div>
  <img class="desktop-only" src="/sites/default/files/2017-10/bf_desktop.jpg" type="video/mp4">
  <img class="mobile-only" src="/sites/default/files/2017-10/bf_mobile.jpg" type="video/mp4">
</div>

<div class="layout-container">
  <div id="about">
    <section>
      <h2>
        {{ home_title|raw }}
      </h2>
      <p>{{ home_about_right|raw }}</p>
    </section>
    <section>
      <p>{{ home_about_left|raw }}</p>
      <p>
        <span id="more-info">
          <a href="/loja">{{ home_action_label }}</a>
        </span>
      </p>
    </section>
  </div>
</div>
