{#
/**
 * @file
 * Default theme implementation for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 *
 * @ingroup themeable
 */
#}
{% if attributes.hasClass("delete-order-item") %}
    <button {{ attributes.addClass("icon-cancel") }} />
{% elseif attributes.hasClass("js-form-submit") and attributes.hasClass("button--primary") %}
    <button {{ attributes }} >{{ attributes.value }}</button>
{% else %}
    <input{{ attributes }} />{{ children }}
{% endif %}