{#
/**
 * @file
 * Seven's theme implementation to display a single Drupal page.
 *
 * The doctype, html, head, and body tags are not in this template. Instead
 * they can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.pre_content: Items for the pre-content region.
 * - page.breadcrumb: Items for the breadcrumb region.
 * - page.highlighted: Items for the highlighted region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{{ page.messages }}

<header id="vela-main-header" class="content-header clearfix">
  <div class="layout-container">
    <ul id="vela-main-menu">
      <li>
        <ul id="social-networks">
          <li><a class="icon-facebook-squared" href="http://facebook.com/velabikes"></a></li>
          <li><a class="icon-instagram" href="http://instagram.com/velabikes"></a></li>
          <li><a class="icon-vimeo-squared" href="http://vimeo.com/velabikes"></a></li>
        </ul>
      </li>
      <li class="mobile-menu-item"><a href="{{ front_page }}#about">Sobre</a></li>
      <li class="mobile-menu-item"><a href="{{ front_page }}#contact">Contato</a></li>
      <li>
        <a id="vela-brand" href="/">
          <img class='inject-me' src="{{ base_path ~ directory }}/img/logo.svg" />
        </a>
      </li>
      <li class="mobile-menu-item"><a href="{{ front_page }}#find-us">Onde Encontrar</a></li>
      <li class="mobile-menu-item"><a href="/loja">Loja</a></li>
      <li class="mobile-menu-item">
        {{ page.navbar }}
      </li>
      <li class="mobile-menu-toggle">
        <a onClick="javascript:jQuery('#vela-main-menu').toggleClass('open');">MENU</a>
      </li>
    </ul>
  </div>
</header>

{% if is_front %}
  {% include directory ~ '/templates/front-video.html.twig' %}
{% endif %}

<div id="features">
  {{ page.features_first }}
  {{ page.features_second }}
  {{ page.features_third }}
</div>

{% if is_front %}
  {% include directory ~ '/templates/address.html.twig' %}
{% endif %}

<div class="layout-container">
  {{ page.pre_content }}
  {{ page.breadcrumb }}
  <main class="page-content clearfix" role="main">
    <div class="visually-hidden"><a id="main-content" tabindex="-1"></a></div>
    {{ page.highlighted }}
    {% if page.help %}
      <div class="help">
        {{ page.help }}
      </div>
    {% endif %}
    {{ page.content }}
  </main>

</div>

<footer id="vela-main-footer">
  {{ page.footer }}
  VELA BIKES © COPYRIGHT 2017<br>
  <small>
    CNPJ 20.430.806/0001-27<br>
    <a href="/termos">TERMOS DE USO, GARANTIAS E POITICA DE DEVOLUÇÕES.</a>
  </small>
  {{ page.page_bottom }}
</footer>
